<a href="https://colab.research.google.com/github/Melikeda/PythonLibraries/blob/main/Titanic_FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files # Google Colab’ın files modülünü yüklüyorsun. Bu modül, bilgisayarından dosya yüklemeni sağlar.
uploaded = files.upload()  # Bu satır çalıştırıldığında bir dosya seçme penceresi açılır. Buradan bilgisayarındaki CSV dosyasını seçersin.

import pandas as pd
import io  # Python’un I/O (input/output) modülünü yüklüyorsun.
df = pd.read_csv(io.BytesIO(uploaded['train.csv']))
df.head()  # ilk 5 satırı göster

Saving train.csv to train.csv

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**5️. Yeni Kolonlar Eklemek (Feature Engineering)**

**1. Sabit Değerli Yeni Kolon**

In [33]:
df['NewColumn'] = 1  # Tüm satırlara 1 değerini ekle
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AvgAgeByClass,NewColumn
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,1

**2. Mevcut Kolondan Hesaplama**

In [35]:
df['AgePlusFare'] = df['Age'] + df['Fare']  # Yaş ve ücret toplamını yeni kolona ekle
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AvgAgeByClass,NewColumn,AgePlusFare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,1,29.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,1,109.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,1,33.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,1,88.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,1,43.0500

**3. Koşula Bağlı Yeni Kolon**

In [36]:
df['Child'] = df['Age'] < 18  # 18 yaş altı yolcular Child = True

In [37]:
df['HighFare'] = df['Fare'] > 50  # Ücret 50’den büyükse HighFare = True
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AvgAgeByClass,NewColumn,AgePlusFare,Child,HighFare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,1,29.2500,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,1,109.2833,False,True
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,1,33.9250,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,1,88.1000,False,True
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,1,43.0500,False,False

**4. Kategorik Kolonlardan Yeni Özellik**

In [39]:
# Ücret aralıklarına göre kategori oluştur
df['FareCategory'] = pd.cut(
    df['Fare'],
    bins=[0,20,50,100,600],
    labels=['Cheap','Normal','Expensive','Luxury']
)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AvgAgeByClass,NewColumn,AgePlusFare,Child,HighFare,FareCategory
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,1,29.2500,False,False,Cheap
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,1,109.2833,False,True,Expensive
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,1,33.9250,False,False,Cheap
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,1,88.1000,False,True,Expensive
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,1,43.0500,False,False,Cheap

In [41]:
# Yaşa göre kategorik kolon
df['AgeCategory'] = pd.cut(
    df['Age'],
    bins=[0,12,18,60,100],
    labels=['Child','Teen','Adult','Senior']
)
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AvgAgeByClass,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,1,29.2500,False,False,Cheap,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,1,109.2833,False,True,Expensive,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,1,33.9250,False,False,Cheap,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,1,88.1000,False,True,Expensive,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,1,43.0500,False,False,Cheap,Adult
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,25.140620,1,NaN,False,False,Cheap,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,38.233441,1,105.8625,False,True,Expensive,Adult
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,25.140620,1,23.0750,True,False,Normal,Child
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,25.140620,1,38.1333,False,False,Cheap,Adult
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,29.877630,1,44.0708,True,False,Normal,Teen

**5. String İşlemleri ile Yeni Kolon**

In [43]:
df['Initial'] = df['Name'].str[0]  # İsmin baş harfini al
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AvgAgeByClass,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,1,29.2500,False,False,Cheap,Adult,B
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,1,109.2833,False,True,Expensive,Adult,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,1,33.9250,False,False,Cheap,Adult,H
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,1,88.1000,False,True,Expensive,Adult,F
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,1,43.0500,False,False,Cheap,Adult,A

In [45]:
df['SexNum'] = df['Sex'].map({'male':0, 'female':1})  # Cinsiyet kolonunu 0-1 sayısal hale çevir
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,AvgAgeByClass,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,25.140620,1,29.2500,False,False,Cheap,Adult,B,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,38.233441,1,109.2833,False,True,Expensive,Adult,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,25.140620,1,33.9250,False,False,Cheap,Adult,H,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,38.233441,1,88.1000,False,True,Expensive,Adult,F,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,25.140620,1,43.0500,False,False,Cheap,Adult,A,0

**6. Gruplama ve Transform ile Kolon Eklemek**

In [46]:
# Her sınıfın yaş ortalamasını yeni kolona ekle
df['AvgAgeByClass'] = df.groupby('Pclass')['Age'].transform('mean')

In [47]:
# Her sınıfın toplam ücretini ekle
df['TotalFareByClass'] = df.groupby('Pclass')['Fare'].transform('sum')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,AvgAgeByClass,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum,TotalFareByClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,25.140620,1,29.2500,False,False,Cheap,Adult,B,0,6714.6951
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,38.233441,1,109.2833,False,True,Expensive,Adult,C,1,18177.4125
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,25.140620,1,33.9250,False,False,Cheap,Adult,H,1,6714.6951
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,38.233441,1,88.1000,False,True,Expensive,Adult,F,1,18177.4125
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,25.140620,1,43.0500,False,False,Cheap,Adult,A,0,6714.6951

**7. Koşullu Fonksiyonlarla Yeni Kolon**

In [49]:
# Fonksiyon tanımla
def age_group(age):
    if age < 18:
        return 'Child'
    elif age < 60:
        return 'Adult'
    else:
        return 'Senior'

# Yeni kolonu oluştur
df['AgeGroup'] = df['Age'].apply(age_group)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum,TotalFareByClass,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,1,29.2500,False,False,Cheap,Adult,B,0,6714.6951,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,1,109.2833,False,True,Expensive,Adult,C,1,18177.4125,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,33.9250,False,False,Cheap,Adult,H,1,6714.6951,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,1,88.1000,False,True,Expensive,Adult,F,1,18177.4125,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,43.0500,False,False,Cheap,Adult,A,0,6714.6951,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,1,40.0000,False,False,Cheap,Adult,M,0,3801.8417,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,1,49.0000,False,False,Normal,Adult,G,1,18177.4125,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,1,NaN,False,False,Normal,NaN,J,1,6714.6951,Senior
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,1,56.0000,False,False,Normal,Adult,B,0,18177.4125,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,1,39.7500,False,False,Cheap,Adult,D,0,6714.6951,Adult