<a href="https://colab.research.google.com/github/Melikeda/PythonLibraries/blob/main/Titanic_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files # Google Colab’ın files modülünü yüklüyorsun. Bu modül, bilgisayarından dosya yüklemeni sağlar.
uploaded = files.upload()  # Bu satır çalıştırıldığında bir dosya seçme penceresi açılır. Buradan bilgisayarındaki CSV dosyasını seçersin.

import pandas as pd
import io  # Python’un I/O (input/output) modülünü yüklüyorsun.
df = pd.read_csv(io.BytesIO(uploaded['train.csv']))
df.head()  # ilk 5 satırı göster

Saving train.csv to train.csv

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**6️. Sıralama (Sorting)**

**1. Tek Sütuna Göre Sıralama**

In [51]:
df_sorted = df.sort_values(by='Age')  # Age sütununa göre küçükten büyüğe sıralama
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum,TotalFareByClass,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,1,29.2500,False,False,Cheap,Adult,B,0,6714.6951,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,1,109.2833,False,True,Expensive,Adult,C,1,18177.4125,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,33.9250,False,False,Cheap,Adult,H,1,6714.6951,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,1,88.1000,False,True,Expensive,Adult,F,1,18177.4125,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,43.0500,False,False,Cheap,Adult,A,0,6714.6951,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,1,40.0000,False,False,Cheap,Adult,M,0,3801.8417,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,1,49.0000,False,False,Normal,Adult,G,1,18177.4125,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,1,NaN,False,False,Normal,NaN,J,1,6714.6951,Senior
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,1,56.0000,False,False,Normal,Adult,B,0,18177.4125,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,1,39.7500,False,False,Cheap,Adult,D,0,6714.6951,Adult

In [ ]:
df_sorted_desc = df.sort_values(by='Age', ascending=False)  # Yaş sütununa göre büyükten küçüğe

**2. Birden Fazla Sütuna Göre Sıralama**

In [53]:
# Pclass küçükten büyüğe, Age büyükten küçüğe
df_sorted_multi = df.sort_values(by=['Pclass','Age'], ascending=[True, False])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum,TotalFareByClass,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,1,29.2500,False,False,Cheap,Adult,B,0,6714.6951,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,1,109.2833,False,True,Expensive,Adult,C,1,18177.4125,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,33.9250,False,False,Cheap,Adult,H,1,6714.6951,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,1,88.1000,False,True,Expensive,Adult,F,1,18177.4125,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,43.0500,False,False,Cheap,Adult,A,0,6714.6951,Adult

**3. Satırları İndeksine Göre Sıralama**

In [55]:
# İndeks değerine göre sıralama
df_sorted_index = df.sort_index()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum,TotalFareByClass,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,1,29.2500,False,False,Cheap,Adult,B,0,6714.6951,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,1,109.2833,False,True,Expensive,Adult,C,1,18177.4125,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,33.9250,False,False,Cheap,Adult,H,1,6714.6951,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,1,88.1000,False,True,Expensive,Adult,F,1,18177.4125,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,43.0500,False,False,Cheap,Adult,A,0,6714.6951,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,1,40.0000,False,False,Cheap,Adult,M,0,3801.8417,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,1,49.0000,False,False,Normal,Adult,G,1,18177.4125,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,1,NaN,False,False,Normal,NaN,J,1,6714.6951,Senior
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,1,56.0000,False,False,Normal,Adult,B,0,18177.4125,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,1,39.7500,False,False,Cheap,Adult,D,0,6714.6951,Adult

**4. Yeni DataFrame Olarak Saklamak veya Atama Yapmak**

In [57]:
df = df.sort_values(by='Fare')  # Orijinal df’yi güncelle
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NewColumn,AgePlusFare,Child,HighFare,FareCategory,AgeCategory,Initial,SexNum,TotalFareByClass,AgeGroup
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,...,1,NaN,False,False,NaN,NaN,F,0,18177.4125,Senior
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,...,1,39.0000,False,False,NaN,Adult,A,0,18177.4125,Adult
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,...,1,NaN,False,False,NaN,NaN,C,0,3801.8417,Senior
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,...,1,40.0000,False,False,NaN,Adult,H,0,18177.4125,Adult
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,...,1,NaN,False,False,NaN,NaN,P,0,18177.4125,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,...,1,327.0000,False,True,Luxury,Senior,F,0,18177.4125,Senior
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,...,1,286.0000,False,True,Luxury,Adult,F,1,18177.4125,Adult
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,...,1,548.3292,False,True,Luxury,Adult,C,0,18177.4125,Adult
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,...,1,547.3292,False,True,Luxury,Adult,L,0,18177.4125,Adult
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,...,1,547.3292,False,True,Luxury,Adult,W,1,18177.4125,Adult